<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.sea.media.dao.MusicSingerMapper">
   
  <sql id="where_param">
        <where>
            <if test="id != null">
                AND id = #{id}
            </if>
            <if test="name != null and name != '' ">
                AND name = #{name}
            </if>
            <if test="sex != null  ">
                AND sex = #{sex}
            </if>
             <if test="singerType != null  ">
                AND singer_type = #{singerType}
            </if>
             <if test="birthday != null  ">
                AND birthday = #{birthday}
            </if>
            <if test="createTime != null">
                AND create_time = #{createTime}
            </if>
            <if test="updateTime != null">
                AND update_time = #{updateTime}
            </if>
            <if test="createUser != null">
                AND create_user = #{createUser}
            </if>
            <if test="updateUser != null">
                AND update_user = #{updateUser}
            </if>
            AND del_flag = 0
        </where>
   </sql>

   <sql id="where_page_param">
        <where>
            <if test="musicSinger.id != null">
                AND id = #{musicSinger.id}
            </if>
            <if test="musicSinger.name != null and musicSinger.name != '' ">
                AND name = #{musicSinger.name}
            </if>
            <if test="musicSinger.sex != null  ">
                AND sex = #{musicSinger.sex}
            </if>
             <if test="musicSinger.singerType != null  ">
                AND singer_type = #{musicSinger.singerType}
            </if>
             <if test="musicSinger.birthday != null  ">
                AND birthday = #{musicSinger.birthday}
            </if>
            <if test="musicSinger.createTime != null">
                AND create_time = #{musicSinger.createTime}
            </if>
            <if test="musicSinger.updateTime != null">
                AND update_time = #{musicSinger.updateTime}
            </if>
            <if test="musicSinger.createUser != null">
                AND create_user = #{musicSinger.createUser}
            </if>
            <if test="musicSinger.updateUser != null">
                AND update_user = #{musicSinger.updateUser}
            </if>
             AND del_flag = 0
        </where>
   </sql>
   
   

    <select id="getList" resultType="com.example.sea.media.interfaces.vo.MusicSingerVO">
        SELECT
            *
        FROM d_singer
        <include refid='where_param'/>
    </select>

    <select id="pageList" resultType="com.example.sea.media.interfaces.vo.MusicSingerVO">
        SELECT
            SQL_CALC_FOUND_ROWS *
        FROM d_singer
        <include refid='where_page_param'/>
        LIMIT #{offset}, #{pageSize}
    </select>

    <update id="logicalBatchDeleteByIds" >
        UPDATE d_singer
        SET del_flag = #{list[0].delFlag},update_time = #{list[0].updateTime}, update_user = #{list[0].updateUser}
        WHERE id IN
        <foreach item="musicSinger" collection="list" open="(" separator="," close=")">
            #{musicInfo.id}
        </foreach>
    </update>

</mapper>