package ${package.Service};

import com.baomidou.mybatisplus.extension.service.IService;
import ${package.Entity}.${entity};

/**
 * ${table.comment}服务接口
 */
public interface ${table.serviceName} extends IService<${entity}> {

}
