<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.sea.media.dao.MusicInfoMapper">
   
  <sql id="where_param">
        <where>
            <if test="musicInfo.id != null">
                AND id = #{musicInfo.id}
            </if>
            <if test="musicInfo.singerId != null">
                AND singer_id = #{musicInfo.singerId}
            </if>
            <if test="musicInfo.musicUrl != null and musicInfo.musicUrl != ''">
                AND music_url = #{musicInfo.musicUrl}
            </if>
            <if test="musicInfo.imageUrl != null and musicInfo.imageUrl != ''">
                AND image_url = #{musicInfo.imageUrl}
            </if>
            <if test="musicInfo.miniImageUrl != null and musicInfo.miniImageUrl != ''">
                AND mini_image_url = #{musicInfo.miniImageUrl}
            </if>
            <if test="musicInfo.musicName != null and musicInfo.musicName != ''">
                AND music_name LIKE CONCAT('%', #{musicInfo.musicName}, '%')
            </if>
            <if test="musicInfo.musicTimeLength != null">
                AND music_time_length = #{musicInfo.musicTimeLength}
            </if>
            <if test="musicInfo.createTime != null">
                AND create_time = #{musicInfo.createTime}
            </if>
            <if test="musicInfo.updateTime != null">
                AND update_time = #{musicInfo.updateTime}
            </if>
            <if test="musicInfo.createUser != null">
                AND create_user = #{musicInfo.createUser}
            </if>
            <if test="musicInfo.updateUser != null">
                AND update_user = #{musicInfo.updateUser}
            </if>
            <if test="musicInfo.singerName != null and musicInfo.singerName != ''">
                AND s.name LIKE CONCAT('%', #{musicInfo.singerName}, '%' )
            </if>
             AND del_flag = 0
        </where>
   </sql>
   
   <sql id="where_param_t">
        <where>
            <if test="musicInfo.id != null">
                AND ${tableAlias}.id = #{musicInfo.id}
            </if>
            <if test="musicInfo.singerId != null">
                AND ${tableAlias}.singer_id = #{musicInfo.singerId}
            </if>
            <!-- test条件里面的and不能大写，只能小写，否则会报错 -->
            <if test="musicInfo.musicUrl != null and musicInfo.musicUrl != ''" >
                AND ${tableAlias}.music_url = #{musicInfo.musicUrl}
            </if>
            <if test="musicInfo.imageUrl != null and musicInfo.imageUrl != ''">
                AND ${tableAlias}.image_url = #{musicInfo.imageUrl}
            </if>
            <if test="musicInfo.miniImageUrl != null and musicInfo.miniImageUrl != ''">
                AND ${tableAlias}.mini_image_url = #{musicInfo.miniImageUrl}
            </if>
            <if test="musicInfo.musicName != null and musicInfo.musicName != ''">
                AND ${tableAlias}.music_name LIKE CONCAT('%', #{musicInfo.musicName}, '%' )
            </if>
            <if test="musicInfo.musicTimeLength != null">
                AND ${tableAlias}.music_time_length = #{musicInfo.musicTimeLength}
            </if>
            <if test="musicInfo.createTime != null">
                AND ${tableAlias}.create_time = #{musicInfo.createTime}
            </if>
            <if test="musicInfo.updateTime != null">
                AND ${tableAlias}.update_time = #{musicInfo.updateTime}
            </if>
            <if test="musicInfo.createUser != null">
                AND ${tableAlias}.create_user = #{musicInfo.createUser}
            </if>
            <if test="musicInfo.updateUser != null">
                AND ${tableAlias}.update_user = #{musicInfo.updateUser}
            </if>
            <if test="musicInfo.singerName != null and musicInfo.singerName != ''">
                AND s.name LIKE CONCAT('%', #{musicInfo.singerName}, '%' )
            </if>
                AND ${tableAlias}.del_flag = 0
        </where>
   </sql>


   

    <select id="pageListJoinSong" resultType="com.example.sea.media.interfaces.vo.MusicInfoVO2">
        SELECT
            SQL_CALC_FOUND_ROWS t.*,IFNULL(s.name,"未知歌手") AS singer_name
        FROM d_music t
        LEFT JOIN d_singer s ON t.singer_id = s.id 
        <include refid='where_param_t'>
            <property name="tableAlias" value="t"/>
        </include>
        LIMIT #{offset}, #{pageSize};
    </select>


    <update id="logicalBatchDeleteByIds" >
        UPDATE d_music
        SET del_flag = #{list[0].delFlag},update_time = #{list[0].updateTime}, update_user = #{list[0].updateUser}
        WHERE id IN
        <foreach item="musicInfo" collection="list" open="(" separator="," close=")">
            #{musicInfo.id}
        </foreach>
    </update>

</mapper>